<!-- <li class="row list-group-item"> -->
  <a
    [routerLink] = "[index]"
    md-list-item
    routerLinkActive = "active-link"
    >
    {{question.description}}
  </a>
  <!-- <div class="col-xs-1" style="padding: 0px">
    <div class="btn-group pull-right">
      <button class="btn btn-success btn-xs" (click) = "onEdit()"><span>E</span></button>
      <button class="btn btn-danger btn-xs" (click) = "onDelete()"><span>&times;</span></button>
    </div>
  </div> -->
<!-- </li> -->

<!-- class="list-group-item"
style="padding:2px" -->
