<md-card>
  <div class="row">
    <div class="col-xs-3">
      <md-input-container>
        <input type="text" mdInput placeholder="ID" value="{{question.id}}" disabled>
      </md-input-container>
    </div>
    <div class="col-xs-6">
      <md-input-container>
        <input type="text" mdInput placeholder="Created by" value="Fred Liebenberg" disabled>
      </md-input-container>
    </div>
    <div class="col-xs-3">
      <md-input-container>
        <input type="text" mdInput placeholder="Created on" value="02/08/2017" disabled>
      </md-input-container>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
      <md-input-container>
        <input type="text" mdInput placeholder="Last edited by" value="Debbie Liebenberg" disabled>
      </md-input-container>
    </div>
    <div class="col-xs-3">
      <md-input-container>
        <input type="text" mdInput placeholder="Last edited on" value="02/08/2017" disabled>
      </md-input-container>
    </div>
  </div>
</md-card>
