  <div class="row form-group">
    <div class="col-12">
      <p class="form-control-plaintext">
        Question ID: {{question.id}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="form-control-plaintext">
        Created by Fred Liebenberg on 02/08/2017
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="form-control-plaintext">
        Last edited by Debbie Liebenberg on 02/08/2017
      </p>
    </div>
  </div>
