<div fxLayout = "row" fxLayoutGap = "10px">
  <md-card>
    <app-question-vars-list
      [vars] = "vars"
      [selectedVar] = "selectedVar"
      (onVarSelected) = "onVarSelected($event)"
      (onNewVar) = "onNewVar()"
      fxFlex = "0 0 200px"
      fxLayout = "column"
    ></app-question-vars-list>
  </md-card>
  <md-card
    *ngIf = "vars.length > 0"
    fxFlex = "1 1 auto"
  >
    <app-question-vars-edit
    [qVar] = "vars[selectedVar]"
    fxLayout = "column"
    ></app-question-vars-edit>
  </md-card>
</div>
