<div fxLayout="row" id="filter-bar">
  <md-select color="secondary" placeholder="Grade" fxFlex>
    <md-option
      *ngFor = "let grade of (questionsService.grades$ | async)"
      value="{{grade}}"
    >{{grade}}</md-option>
  </md-select>
  <md-select color="secondary" placeholder="Subject" fxFlex>
    <md-option
      *ngFor = "let subject of (questionsService.subjects$ | async)"
      value="{{subject}}"
    >{{subject}}</md-option>
  </md-select>
</div>
<div fxLayout="column" id="question-list">
  <md-nav-list>
    <app-question-list-item
      *ngFor="let question of (questions$ | async); let i = index"
      [question] = "question"
      [index] = "i">
    </app-question-list-item>
  </md-nav-list>

  <button type="button" color="primary" md-raised-button (click) = "onAddQuestion()">
    NEW
  </button>
</div>
