<md-card>
  <md-card-header>
    <md-card-title>
      <h3 style="margin-top: 0px">
        {{questionSnapshot.description}}
      </h3>
    </md-card-title>
    <md-card-subtitle>
      <h6>Grade: {{questionSnapshot.grade}} &nbsp; &nbsp; &nbsp; Subject: {{questionSnapshot.subject}}</h6>
      <h6>Topic: {{questionSnapshot.topic}}</h6>
      <h6>Category: {{questionSnapshot.category}}</h6>
    </md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <md-card style="padding: 5px">
      <h4>Question:</h4>
      <p [innerHtml] = "questionSnapshot.questionText | render | safeHtml"></p>
    </md-card>
    <hr style="margin: 5px">
    <md-card style="padding: 5px">
      <h4>Answer:</h4>
      <p>{{questionSnapshot.answerText}}</p>
    </md-card>
  </md-card-content>
  <md-card-actions>
    <button type="button" md-button routerLink = "edit" routerLinkActive = "active">
      Edit
    </button>
    <button type="button" md-button (click) = "onDelete()">
      Delete
    </button>
  </md-card-actions>
</md-card>
