<div class="row">
  <div class="col-xs-12">
    <md-card>
      <md-card-header>
        <md-card-title><h3>{{question.description}}</h3></md-card-title>
        <md-card-subtitle>
          <h6>Grade: {{question.grade}} &nbsp; &nbsp; &nbsp; Subject: {{question.subject}}</h6>
          <h6>Category 1</h6>
          <h6>Category 2</h6>
        </md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <md-card style="padding: 5px">
          <h4>Question:</h4>
          <p [innerHtml] = "question.questionText | render | safeHtml"></p>
        </md-card>
        <hr style="margin: 5px">
        <md-card style="padding: 5px">
          <h4>Answer:</h4>
          <p>{{question.answerText}}</p>
        </md-card>
      </md-card-content>
      <md-card-actions>
        <button type="button" md-button routerLink = "edit" routerLinkActive = "active">
          Edit
        </button>
        <button type="button" md-button (click) = "onDelete()">
          Delete
        </button>
      </md-card-actions>
    </md-card>
  </div>


  <!-- <div class="btn-group d-inline-block">
    <button class="btn btn-primary btn-inline" type="button"
      routerLink = "edit" routerLinkActive = "active">
      Edit
    </button>
    <button class="btn btn-danger btn-inline" type="button"
      (click) = "onDelete()">
      Delete
    </button>
  </div> -->
  <!-- <div class="col-xs-12 navbar">
    <ul class="nav navbar-nav">
      <li class="nav navbar-nav" routerLinkActive = "active"><a routerLink = "edit">Edit</a></li>
      <li class="nav navbar-nav" routerLinkActive = "active"><a (click) = "onDelete()">Delete</a></li>
    </ul>
  </div> -->
<!-- </div>
<div class="row">
  <div class="col-xs-12">
    <h2>
      Question {{question.id}} Detail
    </h2>
    <h3>{{question.grade}} {{question.subject}}</h3>
    <p>{{question.questionText}}</p>
    <p>{{question.answerText}}</p>
  </div> -->
</div>
