<form [formGroup] = "questionEditForm" (ngSubmit)="formSubmit()">
  <div fxLayout="row">
    <h4
      style="margin-top: 5px"
      fxFlex
    >
      <md-input-container class="full-width">
        <input
        type="text" mdInput
        placeholder="Description"
        [(ngModel)] = "questionCopy.description"
        formControlName = "description"
        name="description"
        >
      </md-input-container>
    </h4>
  </div>
  <div *ngIf = "questionCopy.description.length > 0">
    <md-tab-group>
      <md-tab label="Filter">
        <h1></h1> 
        <div fxLayout = "column" fxLayoutGap = "30px">
          <div fxLayout = "column" fxLayoutGap = "10px">
            <md-select
              placeholder="Grade"
              [(ngModel)] = "questionCopy.grade"
              (change) = "onGradeSelectionChange()"
              formControlName = "grade" name = "grade"
              color="secondary"
              fxFlex = "0 1 auto"
            >
              <md-option
                *ngFor = "let grade of (questionsService.grades$ | async)"
                value="{{grade}}"
              >{{grade}}</md-option>
              <md-option value = "***NEWGRADE">
                New grade...
              </md-option>
            </md-select>
            <md-input-container *ngIf = "addGrade">
              <input type="text" mdInput
                placeholder = "Enter new grade"
                formControlName = "newGrade" name = "newGrade"
              >
            </md-input-container>
          </div>
          <div fxLayout = "column" fxLayoutGap = "10px">
            <md-select
              *ngIf = "!addGrade"
              placeholder="Subject"
              [(ngModel)] = "questionCopy.subject"
              (change) = "onSubjectSelectionChange()"
              formControlName = "subject"
              name = "subject"
              color="secondary"
              fxFlex
              >
                <md-option
                  *ngFor = "let subject of (questionsService.subjects$ | async)"
                  value="{{subject}}"
                >{{subject}}</md-option>
                <md-option value = "***NEWSUBJECT">
                  New subject...
                </md-option>
            </md-select>
            <md-input-container *ngIf = "addGrade || addSubject">
              <input type="text" mdInput
                placeholder = "Enter new subject"
                formControlName = "newSubject" name = "newSubject"
              >
            </md-input-container>
          </div>
          <div fxLayout = "column" fxLayoutGap = "10px">
            <md-select
              *ngIf = "!(addGrade || addSubject)"
              placeholder="Topic"
              [(ngModel)] = "questionCopy.topic"
              (change) = "onTopicSelectionChange()"
              formControlName = "topic" name = "topic"
              color="secondary"
              fxFlex
              >
                <md-option
                  *ngFor = "let topic of (questionsService.topics$ | async)"
                  value="{{topic}}"
                >{{topic}}</md-option>
                <md-option value = "***NEWTOPIC">
                  New topic...
                </md-option>
            </md-select>
            <md-input-container *ngIf = "addGrade || addSubject || addTopic">
              <input type="text" mdInput
                placeholder = "Enter new topic"
                formControlName = "newTopic" name = "newTopic"
              >
            </md-input-container>
          </div>
          <div fxLayout = "column" fxLayoutGap = "10px">
            <md-select
              *ngIf = "!(addGrade || addSubject || addTopic)"
              placeholder="Category"
              [(ngModel)] = "questionCopy.category"
              (change) = "onCategorySelectionChange()"
              formControlName = "category" name = "category"
              color="secondary"
              fxFlex
              >
                <md-option
                  *ngFor = "let category of (questionsService.categories$ | async)"
                  value="{{category}}"
                >{{topic}}</md-option>
                <md-option value = "***NEWCATEGORY">
                  New category...
                </md-option>
            </md-select>
            <md-input-container *ngIf = "addGrade || addSubject || addTopic || addCategory">
              <input type="text" mdInput
                placeholder = "Enter new category"
                formControlName = "newCategory" name = "newCategory"
              >
            </md-input-container>
          </div>
        </div>
      </md-tab>
      <md-tab label="Question">
        <md-input-container class="full-width">
          <textarea color="primary"
            mdInput minRows="1"
            placeholder="Question"
            rows="3"
            [(ngModel)] = "questionCopy.questionText"
            formControlName = "questionText"
            name="questionText"
          ></textarea>
        </md-input-container>
        <h6>Question Preview</h6>
        <pre [innerHTML] = "questionCopy.questionText | render | safeHtml"></pre>
      </md-tab>
      <md-tab label="Answer">
        <md-input-container class="full-width">
          <!--took out md-autosize from textarea as it was making text disappear from 2nd tab  -->
          <textarea
            mdInput minRows="1"
            placeholder="Answer"
            rows="3"
            [(ngModel)] = "questionCopy.answerText"
            formControlName = "answerText"
            name="answerText"
            >
          </textarea>
        </md-input-container>
        <h6>Answer Preview</h6>
        <pre [innerHTML] = "questionCopy.answerText | render | safeHtml"></pre>
      </md-tab>
      <md-tab label="Vars">
        <div fxLayout = "row">
          <md-card fxFlex = "0 0 200px" fxLayout = "column">
            <h4>Variables</h4>
            <p *ngIf = "varsCopy.length == 0">No Variables</p>
            <md-nav-list *ngIf = "varsCopy.length > 0">
              <a
              *ngFor = "let qVar of varsCopy; let i = index"
              md-list-item
              (click) = "onVarSelected(i)"
              >{{selectedVar == i ? '>' + qVar.name + '<' : qVar.name}}</a>
            </md-nav-list>
            <button
            type = "button" md-raised-button color = "primary"
            (click) = "onNewVar()"
            >NEW</button>
          </md-card>
          <md-card fxFlex = "1 1 auto">
            <div *ngIf = "selectedVar > -1" formGroupName = "vars" fxLayout = "column">
              <md-input-container>
                <input
                type="text" mdInput
                placeholder="Variable Name"
                formControlName = "name"
                name="name"
                >
              </md-input-container>
              <md-input-container>
                <input
                type="text" mdInput
                placeholder="Variable Default Value"
                formControlName = "defaultVal"
                name="defaultVal"
                >
              </md-input-container>
              <md-input-container>
                <input
                type="text" mdInput
                placeholder="Variable Specified Value"
                formControlName = "specifiedVal"
                name="specifiedVal"
                >
              </md-input-container>
              <div fxLayout = "row" fxLayoutGap = "5px">
                <button *ngIf = "questionEditForm.get('vars').dirty"
                fxFlex = "1 1 auto"
                md-raised-button color = "primary" type = "button"
                (click) = "saveVarChanges()"
                >SAVE CHANGES</button>
                <button *ngIf = "questionEditForm.get('vars').dirty"
                fxFlex = "1 1 auto"
                md-raised-button color = "warn" type = "button"
                (click) = "onVarSelected(selectedVar)"
                >CANCEL CHANGES</button>
                <button *ngIf = "!questionEditForm.get('vars').dirty"
                fxFlex = "0 0 auto"
                md-raised-button color = "warn" type = "button"
                (click) = "onVarDelete()"
                >DELETE VARIABLE</button>
              </div>
            </div>
          </md-card>
        </div>
      </md-tab>
      <md-tab label="Meta">
        <app-question-meta
          [question] = "questionCopy"
        ></app-question-meta>
      </md-tab>
    </md-tab-group>
  </div>
  <div style="height : 50px"></div>
  <div fxLayout = "row" fxLayoutAlign = "end center" fxLayoutGap = "10px" class="action-bar">
    <button
      *ngIf = "questionEditForm.dirty"
      [disabled] = "selectedVar > -1 && questionEditForm.get('vars').dirty"
      md-raised-button color = "primary" type="submit"
    >SAVE</button>
    <button
      md-raised-button color = "warn" type="button"
      (click) = "onCancel()"
    >CANCEL</button>
    <button
      *ngIf = "questionEditForm.dirty"
      md-raised-button color = "accent" type="button"
      (click) = "onReset()"
    >RESET</button>
  </div>
</form>
