<form [formGroup] = "questionEditForm" (ngSubmit)="formSubmit()">
  <div fxLayout="row">
    <h4
      style="margin-top: 5px"
      fxFlex
    >
      <md-input-container class="full-width">
        <input
        type="text" mdInput
        placeholder="Description"
        [(ngModel)] = "questionCopy.description"
        formControlName = "description"
        name="description"
        >
      </md-input-container>
      <!-- {{questionCopy.description}} -->
    </h4>
    <!-- <i
      class="glyphicon"
      [ngClass] = "showMetaData ? 'glyphicon-eye-close' : 'glyphicon-eye-open'"
      (click) = "onToggleMetaData()"
      [mdTooltip] = "showMetaData ? 'Hide Metadata' : 'Show Metadata'"
      mdTooltipPosition = "before">
    </i> -->
  </div>
  <div>
    <md-tab-group>
      <md-tab label="Filter">
        <div>
          Filters will go here.
        </div>
      </md-tab>
      <md-tab label="Question">
        <md-input-container class="full-width">
          <textarea color="primary"
            mdInput minRows="1"
            placeholder="Question"
            rows="3"
            [(ngModel)] = "questionCopy.questionText"
            formControlName = "questionText"
            name="questionText"
            >
          </textarea>
        </md-input-container>
        <h6>Question Preview</h6>
        <pre [innerHTML] = "questionCopy.questionText | render | safeHtml"></pre>
      </md-tab>
      <md-tab label="Answer">
        <md-input-container class="full-width">
          <!--took out md-autosize from textarea as it was making text disappear from 2nd tab  -->
          <textarea
            mdInput minRows="1"
            placeholder="Answer"
            rows="3"
            [(ngModel)] = "questionCopy.answerText"
            formControlName = "answerText"
            name="answerText"
            >
          </textarea>
        </md-input-container>
        <h6>Answer Preview</h6>
        <pre [innerHTML] = "questionCopy.answerText | render | safeHtml"></pre>
      </md-tab>
      <md-tab label="Vars">
        <app-question-vars
          [vars] = "questionCopy.vars"
          (makeFormDirty) = "makeFormDirty()"
        ></app-question-vars>
      </md-tab>
      <md-tab label="Meta">
        <app-question-meta
          [question] = "questionCopy"
        ></app-question-meta>
      </md-tab>
    </md-tab-group>
  </div>
  <div style="height : 50px"></div>
  <div fxLayout = "row" fxLayoutAlign = "end center" fxLayoutGap = "10px" class="action-bar">
    <button md-raised-button color = "primary" type="submit" *ngIf = "questionEditForm.dirty">SAVE</button>
    <button md-raised-button color = "warn" type="button" (click) = "onCancel()">CANCEL</button>
    <button md-raised-button color = "accent" type="button" *ngIf = "questionEditForm.dirty" (click) = "onReset()" >RESET</button>
  </div>
</form>
