.full-width {
  width: 100%;
}

.action-bar {
  position: fixed;
  bottom: 0;
  right: 2%;
  height: 50px;
  /*font-size: 10px;*/
  z-index: 10;
  opacity: 0.9;
  /*background-color: red;*/
}

.action-bar button {
  border-radius: 100%;
}

:host ::ng-deep .question-var {
  color: blue;
  background-color: yellow;
}
